.chat{
    display: flex;
    flex-direction: column;
    flex:0.65;
    height: 100vh;
    background-color: #363A3F;
}

.chat__header{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ff6c37;
    background-color: #f5f5f5;
}

.chat__header > h4 {
    font-weight: 500;
    color: grey;
}

.chat__name{
    color: #2F3135;
}

.chat__input{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-top: 1px solid lightgray;
   /* background-color: #f5f5f5;*/
    background-color: #2F3135;
}

.chat__input > form {
    flex: 1;
}

.chat__messages {
    flex: 1;
    overflow: scroll;
    background-image: url("https://i.pinimg.com/originals/a5/c2/44/a5c244761a4573da8dd2d55d66ee7b72.jpg");
    background-repeat: repeat;
    background-position: center;
    padding: 30px;
}

.chat__messages::-webkit-scrollbar {
    display: none;
}

.chat__messages {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.chat__input >  form > input  {
    width: 98%;
    outline-width: 0;
    border: 1px solid lightgray;
    border-radius: 999px;
    padding: 5px;
}

.chat__input > form > button {
    margin-top: 20px;
    border-radius: 8px;
    padding: 5px;
    border: 1px solid #ff6c37;
    background-color: gray;
    color: #ff6c37
}

.chat__input > form > button:hover {
    color: #ffffff;
    background-color: #ff6c37
}

@media all and (min-width: 600px) and (max-width: 1023px){
    .chat{
        display: flex;
     
    }

    .chat__input >  form > input  {
        font-size: 12px;
        padding: 2px;
    }
}
@media all and (max-width: 599px) {
    .chat {
        width: 55%;
    }
    .chat__input >  form > input  {
        font-size: 12px;
        padding: 2px;
    }

    .chat__input{
        padding: 5px 10px;
    }

    .chat__messages{
        font-size: 15px;
    }
    
}

